* {
    box-sizing: border-box;
  }

body {
    font-family: 'Rokkitt', serif;
    font-size: 140%;

    
}

.navPosition {
    padding-bottom: 7%;;
}

@media screen and (max-width: 710px) {
    .navPosition {
        padding-bottom: 13%;
    }
}

.navBorder:hover {
    color: #A5CFC9;
    padding: 2%;
    border-radius: 5px;
    padding-bottom:7%;
}

.nav-link {
    color: black;
    font-weight: bolder;
    font-size: 125%;
}

@media screen and (max-width: 476px) {
    .navPosition {
        font-size: 75%;
    }
}

.container {
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.introDiv {
    font-family: 'Rokkitt', serif;
    font-size: 10pt;
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
    font-weight: bolder;
    margin-top: 8%;

}

.aboutSection {
    text-align: center;
    color: black;
    padding-bottom: 4%;
    padding-top: 1%;
}

.aboutParagraph {
    text-align: left;
    color:black;
    font-weight:bolder;
}

.portfolio {
    color:  black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;

}

.thumbnailWrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    
}

.imgMod {
    width: 100%;
    height: 100%;
    padding: 2%;
    margin: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.projectName {
    color: black;
    font-weight: bolder;
}
.contact {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}


button {
    border-radius: 5px;
    margin-bottom: 1%;
    border-color: black;
    padding-bottom:7px;
}


.footer {
    text-align: center;
    color:black;
    font-size: 100%;
    padding: 1%;
}